<p style="color: green"><%= notice %></p>

<h1>게시판</h1>

<%= render partial: "sort_form" %>

<%= render partial: "search_form" %>

<%= render partial: "posts" %>

<%= link_to "새글 쓰기", new_post_path %>
