<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "글 수정하기", edit_post_path(@post) %> |
  <%= link_to "게시판으로 돌아가기", posts_path %>

  <%= button_to "글 삭제하기", @post, method: :delete %>
</div>
