<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "글 수정하기", edit_post_path(@post) %> |
  <%= link_to "게시판으로 돌아가기", posts_path %>
  <%= button_to "글 삭제하기", @post, method: :delete%>
</div>

<hr>
<%= render "comment", post: @post  %>
<hr>

<%= form_with(model: [@post, @post.comments.build]) do |form| %>
  <div>
    <%= form.label :작성자, style: "display: block" %>
    <%= form.text_field :writer %>
  </div>

  <div>
    <%= form.label :댓글, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit :댓글달기 %>
  </div>
<% end %>

